:root, [data-bs-theme=light] {
  --bs-primary: #0078d7;
  --bs-primary-rgb: 27,124,183;
  --bs-primary-text-emphasis: #003056;
  --bs-primary-bg-subtle: #CCE4F7;
  --bs-primary-border-subtle: #99C9EF;
  --bs-success: #0078d7;
  --bs-success-rgb: 0,120,215;
  --bs-success-text-emphasis: #003056;
  --bs-success-bg-subtle: #CCE4F7;
  --bs-success-border-subtle: #99C9EF;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #0078d7;
  --bs-btn-border-color: #0078d7;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #268CDD;
  --bs-btn-hover-border-color: #1986DB;
  --bs-btn-focus-shadow-rgb: 0,18,32;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #3393DF;
  --bs-btn-active-border-color: #1986DB;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #0078d7;
  --bs-btn-disabled-border-color: #0078d7;
}

.btn-outline-primary {
  --bs-btn-color: #0078d7;
  --bs-btn-border-color: #0078d7;
  --bs-btn-focus-shadow-rgb: 0,120,215;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #0078d7;
  --bs-btn-hover-border-color: #0078d7;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #0078d7;
  --bs-btn-active-border-color: #0078d7;
  --bs-btn-disabled-color: #0078d7;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0078d7;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #0078d7;
  --bs-btn-border-color: #0078d7;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #268CDD;
  --bs-btn-hover-border-color: #1986DB;
  --bs-btn-focus-shadow-rgb: 0,18,32;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #3393DF;
  --bs-btn-active-border-color: #1986DB;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #0078d7;
  --bs-btn-disabled-border-color: #0078d7;
}

.btn-outline-success {
  --bs-btn-color: #0078d7;
  --bs-btn-border-color: #0078d7;
  --bs-btn-focus-shadow-rgb: 0,120,215;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #0078d7;
  --bs-btn-hover-border-color: #0078d7;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #0078d7;
  --bs-btn-active-border-color: #0078d7;
  --bs-btn-disabled-color: #0078d7;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0078d7;
}

